body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins';
    position: absolute;
    margin: 0;
  
  }
header{
    margin: 0%;
    width: 100%;
    position: absolute;
    background-image: url("../img/bg-hero-desktop.svg");
    background-color: #EDFBFE;
    height: 718px;
    
}
nav{
    display: flex;
    width: 90%;
    margin:49px 5%;
    justify-content: space-between;    
}
.logo{
    height: 32px;
    margin-top: 8px;
}
.login{
    border-radius: 40px;
    width: 150px;
    height: 47px;
    margin-top: 0;
    background-color: #ffffff;
    border:none;
    font-weight: bold;
}
.containerHeader{
    width: 90%;
    height: 480px; 
    display: flex;
    margin: 60px 5%;
}
.mockups{
    width: 49%;
}
.left{
    margin-top: 50px;
}
.titleHeader{
    font-size: 2.5em;
    width: 75%;
}
.textHeader{
    font-size: 1.2rem;
    width: 83%;
}
.buttonHeader{
    width: 45%;
    background-color: #FE52C0;
    height: 55px;
    border-radius: 25px;
    border:none;
    margin-top: 18px;
    color: #ffffff;
}
@media screen and (max-width: 600px) {
    header{
        
        position: absolute;
        background-image: url("../img/bg-hero-mobile.svg");
        background-size: cover;
        background-color: #EDFBFE;
        height: 859px;
        width: 100%;
        
    }
    .logo{
        height: 32px;
width: 50%;
        margin-top: 4px;
    }
    .containerHeader{
         
   
    }

}