* {
  margin: 0px;
  box-sizing: border-box;
}
body {
  width: auto;
  height: 900px;
  /* 
  font-family: "Reenie Beanie", cursive;
  font-family: "Signika Negative", sans-serif;
  font-family: "Sintony", sans-serif;
  font-family: "Six Caps", sans-serif;
  font-family: "Spectral SC", serif; 
  */
}
.hide {
  display: none;
}
@keyframes movingThroughSpace {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
.intro {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-image: url(./imgs1/galaxy1.jpg);
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: movingThroughSpace 50s linear infinite;
}
.intro h1 {
  font-size: 80px;
  font-family: "Spectral SC", serif;
}
.intro button {
  background: rgba(0, 0, 0, 0);
  border-radius: 30px;
  border: 2px solid white;
  width: 430px;
  height: 90px;
  color: white;
  font-size: 45px;
  font-family: "Six Caps", sans-serif;
  letter-spacing: 10px;
  cursor: pointer;
  outline: none;
}
.intro button:hover {
  background: rgba(4, 42, 77, 0.5);
  font-size: 50px;
}
.previewContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, #dbe2eb, #10335d);
}
.nameSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 750px;
  border-radius: 20px;
  position: relative;
  top: 50px;
  left: 10%;
  background-image: url(./imgs1/galaxy.jpg);
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: movingThroughSpace 100s linear infinite;
}
.nameSection img {
  margin-top: 5%;
}
.nameSection h1 {
  color: white;
  font-size: 35px;
  font-family: "Spectral SC", serif;
  font-weight: bolder;
  margin-top: 20%;
}
.nameSection span {
  margin-top: 5%;
  color: white;
  font-size: 35px;
  font-family: "Spectral SC", serif;
  font-weight: bolder;
}
.nameSection button {
  background: rgba(0, 0, 0, 0);
  border-radius: 30px;
  margin-top: 5%;
  border: 3px solid white;
  width: 290px;
  height: 60px;
  color: white;
  font-size: 25px;
  letter-spacing: 10px;
  cursor: pointer;
  outline: none;
}
.nameSection button:hover {
  background: rgba(4, 42, 77, 0.5);
  font-size: 27px;
}
.infoSection {
  background-color: white;
  border-radius: 30px;
  position: relative;
  top: 50px;
  left: 15%;
  width: 830px;
  height: 750px;
  display: flex;
  flex-direction: column;
}
.infoSection img.menu {
  height: 80px;
}
.infoSection img.menu:hover{
    cursor: pointer;
}
.infoSection header {
  font-family: "Six Caps", sans-serif;
  display: flex;
  justify-content: center;
  font-size: 45px;
  letter-spacing: 5px;
}
.infoSection p {
  position: relative;
  left: 10%;
  top: -20px;
  text-align: center;
  width: 685px;
  font-size: 35px;
  font-family: "Reenie Beanie", cursive;
  margin-top: 5%;
}
.infoSection p b {
  letter-spacing: 10px;
  font-size: 45px;
}

.infoSection aside {
  position: relative;
  top: 10px;
  left: 35px;
  bottom: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 760px;
  border-radius: 30px;
  height: 450px;
  background-color: #042a4d59; /*re use this color*/
}
.infoSection h2{
  position: absolute;
  font-size: 40px;
  top: 5px;
  font-family: "Six Caps", sans-serif;
  font-weight: 500;
  letter-spacing: 5px;
}
.infoSection article{
    position: relative;
    text-align: center;
    margin-top: 30px;
    margin-left: 15px;
    background-color: white;
    border-radius: 30px;
    height: 160px;
    width: 320px;
}
.infoSection img{
    position: absolute;
    height: 75px;
    left: 15px;
}
.infoSection h3{
    position: relative;
    font-size: 25px;
    font-family: "Six Caps", sans-serif;
    font-weight: 500;
    letter-spacing: 3px;
    left: 35px;
    top: 15px;
}
.infoSection span{
    position: absolute;
    top: 60px;
    left: 100px;
    width: 200px;
    height: 70px;
}
.options{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 10px;
    left: 80px;
    width: 270px;
    height: 70px;
    color: white;
    background-color: #8daccc;
    border: 1px solid black;
    border-radius: 10px;
    font-family: "Signika Negative", sans-serif;
}
.options h4{
    font-size: 20px;
    margin: 5px;
}
.options h4:hover{
    font-size: 22px;
    cursor: pointer;
    text-decoration: underline;
}
section.resume{
  display: flex;
  width: 800px;
  height: 1700px;
}
main.container{
  position: relative;
  left: 100px;
  height: 100%;
}
section.basicInfo{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 800px;
  background-color: #254bbc;
  color: white;
  text-align: center;
}
section.basicInfo section.imgSection{
  background-color: #353131;
  position: relative;
  top: 50px;
  font-size: 30px;
  font-family: "Spectral SC", serif;
}
section.basicInfo section.imgSection img{
  background-color: #353131;
  position: relative;
  top: -10px;
}
section.basicInfo span.title{
  font-family: "Six Caps", sans-serif;
  background-color: white;
  color: black;
  padding: 5px;
  letter-spacing: 10px;
  font-size: 25px;
  width: 100%;
  margin: unset;
  position: relative;
  top: 50px;
}
section.basicInfo img{
  position: relative;
  top: 55px;
  margin-top: 20px;
  height: 270px;
 }
section.basicInfo span{
  position: relative;
  top: 60px;
  margin-top: 10px;
}
section.eduSect{
  width: 400px;
  text-align: center;
  font-family: "Sintony", sans-serif;
}
section.eduSect h4{
  font-family: "Signika Negative", sans-serif;
  position: relative;
  left: -70px;
  top: -30px;
  font-size: 30px;
  color: #254bbc;
}
section.eduSect img{
  position: relative;
  left: 110px;
  top: 30px;
}
section.eduSect h5{
  margin-top: 30px;
  font-size: 20px;
  color: #635656;
}
section.eduSect b{
  font-size: 20px;
  color: #254bbc;
  width: 100%;
}
section.eduSect span{
  font-size: 13px;
  color: #635656;
}
section.bioSect{
  position: relative;
  width: 600px;
  top: -1700px;
  left: 500px;
  text-align: center;
}
section.bioSect img{
  position: relative;
  left: 220px;
}
section.bioSect h4{
  position: relative;
  top: -50px;
  font-size: 30px;
  color: #254bbc;
}
section.bioSect p{
  font-size: 25px;
  width: 610px;
}
section.expSect{
  border: 2px solid red;
}
section.expSect span{
  border: 2px solid red;
}