@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;600;700&display=swap');

body {
    width: 1440px;
    margin: 0;
    background: url('../svg/bg-hero-desktop.svg') no-repeat #EDFBFE;
}

body>header {
    display: flex;
    justify-content: space-between;
    width: 1300px;
    margin: 48px 0 0 80px;
}

body>header>img.logo {
    width: 200px;
    height: 32px;
}

body>header>span {
    cursor: pointer;
    width: 200px;
    height: 48px;
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-weight: bold;
    background: #FFFFFF;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 24px;
}

body>main>section.hero-section {
    display: flex;
    margin: 51px 87px 0 80px;
    justify-content: space-between;
    width: 1280px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
}

body>main>section.hero-section>div.information>h1 {
    width: 474px;
    margin: 90px 0 0 0;
    font-size: 40px;
}

body>main>section.hero-section>div.information>p {
    font-size: 18px;
    font-weight: normal;
    font-family: Open Sans, sans-serif;
    width: 514px;
}

body>main>section.hero-section>div.information>span {
    margin: 36px 0 147px 0;
    width: 280px;
    height: 56px;
    border-radius: 28px;
    font-size: 14px;
    font-weight: bold;
    font-family: Open Sans, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #FE52C0;
    cursor: pointer;
}

body>main>section.hero-section>img {
    width: 683px;
    height: 482px;
}

body>main>section.features {
    width: 100%;
    height: auto;
    background: #FFFFFF;
}

body>main>section.features>section.feature-container {
    margin: 45px 104px 0 104px;
    width: 1232px;
    height: 440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body>main>section.features>section.grow-together {
    padding-top: 160px;
}

body>main>section.features>section.grow-together>div.information {
    margin: 54px 0 0 120px;
}

body>main>section.features>section.feature-container>div.information>h3 {
    font-family: Poppins, sans-serif;
    font-size: 28px;
    font-weight: bold;
    width: 223px;
    margin: 0 0 5px 0;
}

body>main>section.features>section.feature-container>div.information>p {
    margin: 0;
    color: #8D9194;
    font-family: Open Sans;
    font-size: 18px;
    line-height: 25px;
    width: 483px;
    height: 78px;
}

body>main>section.features>section.feature-container>img {
    width: 406px;
    height: 340px;
}

body>main>section.features>section.feature-container.flowing-conversations>div.information>h3 {
    width: 338px;
}

body>main>section.features>section.flowing-conversations>img {
    margin: 0 0 0 120px;
}

body>main>section.features>section.your-users>div.information {
    margin: 54px 0 0 120px;
}

body>footer {
    padding: 360px 0 0 0;
    width: 100%;
    height: 200px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body>footer>div.get-started {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 800px;
    height: 280px;
    background: #FFFFFF;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.09);
    border-radius: 17px;
    z-index: 1;
    margin: 360px 0 0 0;
}

body>footer>div.get-started>h3 {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 32px;
    margin: 65px 0 0 0;
}

body>footer>div.get-started>span {
    margin: 29px 0 52px 0;
    width: 280px;
    height: 56px;
    border-radius: 28px;
    font-size: 14px;
    font-weight: bold;
    font-family: Open Sans, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #FE52C0;
    cursor: pointer;
}

body>footer>div.footer-section {
    width: 100%;
    position: relative;
    bottom: 41%;
    background: #00252E;
    display: flex;
}

body>footer>div.footer-section>section.left-side>img.logo-footer {
    margin: 192px 0 0 110px;
    filter: brightness(0) invert(1);
}

body>footer>div.footer-section>section.left-side>section.business-info {
    margin: 35px 0 0 110px;
    color: #FFFFFF;
    width: 385px;
    font-size: 17px;
    font-family: Open Sans, sans-serif;
}

body>footer>div.footer-section>section.left-side>section.business-info>div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

body>footer>div.footer-section>section.left-side>section.business-info>div>p {
    width: 353px;
    margin: 0;
}

body>footer>div.footer-section>section.left-side>section.business-info>div>img {
    margin-top: 4px;
}

body>footer>div.footer-section>section.left-side>section.business-info>div:not(.ubication) {
    margin: 27px 0 0 0;
}

body>footer>div.footer-section>section.middle-side {
    width: 700px;
    float: left;
}

body>footer>div.footer-section>section.middle-side>ul {
    margin: 271px 0 0 146px;
    color: #FFFFFF;
    font-size: 18px;
    list-style-type: none;
    font-family: Open Sans, sans-serif;
}

body>footer>div.footer-section>section.middle-side>ul>li {
    margin: 0 80px 27px 0;
    float: left;
    width: 107px;
}

body>footer>div.footer-section>section.right-side>div.social-network-container {
    margin: 271px 0 0 0;
    display: flex;
}

body>footer>div.footer-section>section.right-side>div.social-network-container>div.social-network {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #B4D0DC;
    margin: 0 13px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

body>footer>div.footer-section>section.right-side>div.social-network-container>div.social-network>img {
    filter: brightness(0) invert(1);
    width: 20px;
    height: 20px;
}

body>footer>div.footer-section>section.right-side>p {
    font-family: Poppins;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    width: 320px;
    margin: 178px 0 65px 0;
}

@media(max-width: 400px) {
    body {
        width: 375px;
        background: url('../svg/bg-hero-mobile.svg') no-repeat #EDFBFE;
    }

    body>header {
        width: 339px;
        margin: 29px 0 0 17px;
    }

    body>header>img.logo {
        width: 126px;
        height: 21px;
    }

    body>header>span {
        width: 116px;
        height: 29px;
        font-size: 12px;
    }

    body>main>section.hero-section {
        flex-direction: column;
        margin: 20px 87px 0 10px;
        width: 319px;
    }

    body>main>section.hero-section>div.information>h1 {
        width: 334px;
        margin: 45px 0 0 0;
        font-size: 28px;
        text-align: center;
    }

    body>main>section.hero-section>div.information>p {
        font-size: 18px;
        width: 320px;
        text-align: center;
    }

    body>main>section.hero-section>div.information>span {
        margin: 40px 0 50px 20px;
        width: 289px;
        height: 48px;
    }

    body>main>section.hero-section>img {
        width: 350px;
        height: 250px;
    }

    body>main>section.features>section.feature-container {
        margin: 90px 5px 0 5px;
        width: 360px;
        height: 450px;
        flex-direction: column;
    }

    body>main>section.features>section.feature-container:not(.flowing-conversations) {
        flex-direction: column-reverse;
    }

    body>main>section.features>section.grow-together {
        padding-top: 120px;
    }

    body>main>section.features>section.grow-together>div.information {
        margin: 20px 0 0 0;
    }

    body>main>section.features>section.feature-container>div.information {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    body>main>section.features>section.feature-container>div.information>h3 {
        font-size: 25px;
        width: 190px;
        text-align: center;
    }

    body>main>section.features>section.feature-container>div.information>p {
        width: 314px;
        height: 146px;
        text-align: center;
    }

    body>main>section.features>section.feature-container>img {
        width: 284px;
        height: 233px;
    }

    body>main>section.features>section.your-users>div.information {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 20px 0 0 0;
    }

    body>main>section.features>section.flowing-conversations>img {
        margin: 0;
    }

    body>footer {
        padding: 780px 0 0 0;
    }

    body>footer>div.get-started {
        width: 345px;
        height: 180px;
        margin: 190px 0 0 0;
        align-items: center;
    }

    body>footer>div.get-started>h3 {
        font-size: 16px;
        margin: 65px 0 0 0;
    }

    body>footer>div.get-started>span {
        margin: 29px 0 52px 0;
        width: 240px;
        height: 49px;
        font-size: 12px;
        align-items: center;
    }

    body>footer>div.footer-section {
        flex-direction: column;
    }

    body>footer>div.footer-section>section.left-side>img.logo-footer {
        margin: 148px 0 0 10px;
        width: 168px;
    }

    body>footer>div.footer-section>section.left-side>section.business-info {
        margin: 38px 0 0 19px;
        width: 330px;
        font-size: 18px;
    }

    body>footer>div.footer-section>section.left-side>section.business-info>div>p {
        width: 300px;
        margin: 0;
    }

    body>footer>div.footer-section>section.left-side>section.business-info>div:not(.ubication) {
        margin: 35px 0 0 0;
    }

    body>footer>div.footer-section>section.middle-side {
        width: 375px;
    }

    body>footer>div.footer-section>section.middle-side>ul {
        margin: 71px 0 0 19px;
        padding: 0;
        font-size: 22px;
    }

    body>footer>div.footer-section>section.middle-side>ul>li {
        margin: 0 80px 20px 0;
        width: 107px;
    }

    body>footer>div.footer-section>section.right-side>div.social-network-container {
        margin: 77px 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    body>footer>div.footer-section>section.right-side>p {
        margin: 28px 0 62px 58px;
    }
}