body{
    font-family: 'Lato', sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

#formulario{
    background-color:  #E1E8EE;
    border: #474F54 1px solid;
    width: 577px;
    height: 827px;
}

#title{
    font-size: larger;
}

#description{
    font-size: 18px;

}

#calendario {
    display: block;
    font: 1rem ;
}

#fechaNacimiento {
    margin: .4rem 0;
}