body{
    font-family: 'Lato', sans-serif;
}

#title{
    font-size: larger;
}

#description{
    font-size: 18px;

}

#calendario {
    display: block;
    font: 1rem ;
}

#fechaNacimiento {
    margin: .4rem 0;
}