@font-face {
    font-family: "Poppins normal";
    src: url("Poppins/Poppins-Light.ttf");
  }
  @font-face {
    font-family: "Poppins bold";
    src: url("Poppins/Poppins-Bold.ttf");
  }
body{
    background-color: #FAFAFA;
}
h1#first{
    margin-left: 35%;
    font-family: Poppins normal;
}
h1#second{
    margin-left: 35%;
font-family: Poppins bold;
}
p#first{
display: flex;
align-items: center;
justify-content:center ;
font-family: Poppins normal;
font-size: 15px;
color: #9B9B9B;
}
.arriba{
position:relative;
background-color: #FFFFFF;
width: 347px;
height: 270px;
box-shadow: 0 40px 0 -33px hsl(0, 78%, 62%) inset,
0px 0px 15px black;
border-radius: 10px;
margin: 20px;
transition: 0.6s ease;
}

.efecto:hover{
    transform: rotate(1.0turn);
}
.derecha{
    position:relative;
    background-color: #FFFFFF;
    width: 347px;
    height: 270px;
    box-shadow: 0 40px 0 -33px hsl(212, 86%, 64%) inset,
    0px 0px 15px black;
    border-radius: 10px;
    margin: 20px;
    transition: 0.6s ease;
}
.abajo{
    background-color: #FFFFFF;
    width: 347px;
    height: 270px;
    box-shadow: 0 40px 0 -33px hsl(34, 97%, 64%) inset,
    0px 0px 15px black;
    border-radius: 10px;
    margin: 20px;
    transition: 0.6s ease;
}
.izquierda{
    background-color: #FFFFFF;
    width: 347px;
    height: 270px;
    box-shadow: 0 40px 0 -33px hsl(180, 62%, 55%) inset,
    0px 0px 15px black;
    border-radius: 10px;
    margin: 20px;
    transition: 0.6s ease;
}
p#parrafos{
    color: #9B9B9B;
    font-family: Poppins normal;
    margin-left: 10%;
}
h1#titulos{
    position: relative;
    top: 5%;
    font-family: Poppins bold;
    margin-left: 10%;  
}
img{
    margin-top: 10%;
    margin-left: 70%;
}
.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}