body{
    background-color: hsl(232, 19%, 15%) ;
    transition: ease-in-out 1500ms;
    padding: 0 20px;
    margin: 0;
    color: white;
    font-family: 'Inter', sans-serif;
}

#subt{
    position: relative;
    font-weight: bold;
    font-size: 18px;
    width: 150px;
    left: 150px;
    color: #FFFFFF;
}

.mode{
    position: relative;
    max-width: 100%;
    display: flex;
    height: auto;
    width: 200px;
    left: 70%; 
    top: -80px;
}

h1{
    font-size: 32px;
} 

h2{
    font-weight: bold;
    font-size: 60px;
    margin:20px 0 0 0; 
}

h3{
    letter-spacing: 3pt;
    font-weight: normal;
    font-size: 14px;
    color: #8A8FB6;
    margin: 10px 0 0 0;
}

h4 > #cant{
    position: relative;
    margin-top: 10px;
}

h4{
    font-weight: bold;
    font-size: 20px;
    line-height: 17px;
    color: #8A8FB6;
}

.h4M2{
        position: relative;
        top: 10px;
        left: 10px;
}

.marco1{
    width: 23%;
    
    height: auto;
    background-color: hsl(228, 28%, 20%);
    margin: 20px 0;
    border-radius: 10px;
    color: white;
    text-align: center;
    transition: ease-in-out 1500ms;
}

.lineaF{
    background: #1A8EF5;
    border-radius: 15px 15px 0px 0px;
    height: 6px;
}

.lineaT{
    background: #279EE9;
    border-radius: 15px 15px 0px 0px;
    height: 6px;
}

.lineaI{
    background: linear-gradient(90deg, #F5C175 3.09%, #E25591 99.99%);
    border-radius: 15px 15px 0px 0px;
    height: 6px;
}

.lineaY{
    background: #B00B2F;
    border-radius: 15px 15px 0px 0px;
    height: 6px;
}

img{
    width: 30px;
    position: relative;
    top: 20px;
}

.marco2{
    width: 46%;
    min-height: 110px;
    height: auto;
    background-color: hsl(228, 28%, 20%);
    margin: 5px;
    border-radius: 10px;
    padding: 10px 30px;
    box-sizing: inherit;
    transition: ease-in-out 1500ms;
}

.marco1:hover{
    background-color:  hsl(229, 24%, 35%); 
}

.marco2:hover{
    background-color:  hsl(229, 24%, 35%); 
}

.marco2 > span{
    position: relative;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #636B8C;
    top: 20px;
}

.marco2 > img{
    float: right;
}

.marco2 > h4{
    font-weight: bold;
    font-size: 35px;

}

main{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
}

.followers{
    position: relative;
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.facebook, .youtube, .twitter, .instagram{
    display: flex;
    justify-content: space-around;
}

span{
    position: relative;
    top: 10px;
    left: 10px;
}





/* Toggle */
.switch {
  position: relative;
  width: 80%;
  height: 25px;
  left: 75%;

  padding: 2px;
  box-sizing: content-box;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(270deg, #bcd0d8 0%, #34709e 100%);
  -webkit-transition: .4s;
  transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: #333B56;
  -webkit-transition:;
  transition: .4s;
  -moz-transition:;
  -ms-transition:;
  -o-transition:;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  -moz-transform: translateX(26px);
  -o-transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
  .slider.round:before {
    border-radius: 50%;

}

/* MODO CLARO */
  
.lightmode{
    background-color:#fff;
    transition: ease-in-out 1500ms;
    color: hsl(228, 12%, 44%);
    -webkit-transition: ease-in-out 1500ms;
    -moz-transition: ease-in-out 1500ms;
    -ms-transition: ease-in-out 1500ms;
    -o-transition: ease-in-out 1500ms;
}

.lightmode #subt{
    color:  hsl(228, 12%, 44%);
}

.lightmode .marco1{
        background-color: hsl(227, 47%, 96%);
        color: hsl(228, 12%, 44%);
        transition: ease-in-out 1500ms;
}

.lightmode .marco2{
    background-color: hsl(227, 47%, 96%);
    transition: ease-in-out 1500ms;
}

.lightmode .toggle.active{
        background: hsl(230, 22%, 74%);
}

.lightmode .circle{
    background: hsl(230, 22%, 74%);
}

.lightmode .marco1:hover{
    background-color:  hsl(226, 22%, 80%); 
}

.lightmode .marco2:hover{
    background-color: hsl(226, 22%, 80%); 
}

@media(max-width: 710px){

    h2{
        font-size: 32px;
    }

    h3{
        font-size: 10px;
    }

    h4{
        font-size: 14px;
    }

    main{
        display: flex;
        flex-direction: column;
    }

    header{
        padding: 0 0 40px 0;
    }

    #mode{
        width: 100%;
        margin-top: 200px;
        margin-left: 5%;
        top: 140px;

    }

    #subt{
        top: 30px;;
    }
    
}

@media(max-width: 375px){

    h2{
        font-size: 60px;
    }

    h3{
        font-size: 14px;
    }

    .followers{

        flex-direction: column;
    }

    .marco1{
        width: 90%;
        margin: 10px;
    }
    .marco2{
        width: 75%;
    }



    main{
        display: flex;
        flex-direction: column;
    }

    .facebook, .youtube, .twitter, .instagram{
        flex-direction: column;
    }

    header{
        height: 130px;
    }

    .mode{

        width: 50%;
        left: 0px; 
        top: auto;
    }

    #subt{
        left: 2px;
        top: auto;
        margin: 0;
        width: 110px;
        font-size: 14px;
    }

}
