*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
@font-face{
  font-family:Manrope;
  src:url(Manrope.ttf);
}
body{
background: hsl(210, 46%, 95%);
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
flex-wrap: wrap;
min-width:300px;
font-family: Manrope;
}
.presentacion{
  height: 330px;
  width: 60%;
  display: flex;
  background: #ffffff;
  margin: auto;
  border-radius: 7px;
  box-shadow: 0px 14px 32px 0px rgba(0,0,0,0.5);
  overflow: hidden;
  box-sizing: border-box;
  font-size: 13px;
}

.presentacion img{
  margin-bottom: 0px;
  height: 330px;
  width:40%;
  vertical-align: top;
}
.producto-texto{
  width: 60%;
  border-radius: 0 7px 10px 7px;
  margin: 20px 30px;
  line-height: 25pt;

}
.producto-texto h1{
  font-size: 25px;
  color:rgb(42, 48, 47);
  margin-bottom: 30px;
}
.producto-texto p{
  margin-bottom: 20px;
  color: rgba(0,0,0,0.5);
  font-size: 13px;
}
.info-personal{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.datos-personaje{
  margin:auto;
  margin-left: 30px;
}
.avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.nombre{
  margin-top: -5px;
  margin-bottom: -10px;
}
button{
border: 0;
width: 40px;
height: 40px;
border-radius: 50%;
}
@media screen and (max-width: 600px){
  .presentacion img{
    width: 100%;
    height: 30%;
  }
  .producto-texto{
    width: 20px;
  }
}
