:root{
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

    --Very_Dark_Blue: hsl(234, 12%, 34%);
    --Grayish_Blue: hsl(229, 6%, 66%);
    --Very_Light_Gray: hsl(0, 0%, 98%);
}

body{
    background: var(--Very_Light_Gray);
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    justify-content: center;
}

.title{
    width: 30%;
    text-align: center;
    color: var(--Grayish_Blue);
}

.title h1 {
    font-weight: lighter;
    font-size: 25.5px;
}

b{
    color: var(--Very_Dark_Blue);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    height: 251px;
    width: 351px;   
    background: #FFFFFF;
    box-shadow: 0 40px 0 -33px var(--Blue) inset,
    2px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 14px;
    transition: 0.5s ease;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.1);
}

.card-content{
    padding: 5% 5% 0 5% ;
    color: var(--Grayish_Blue);
}

.card h1{
    font-size: 20px;
}

.super{
    box-shadow: 0 40px 0 -33px var(--Cyan) inset,
    2px 4px 4px rgba(0, 0, 0, 0.25);
}

.builder{
    box-shadow: 0 40px 0 -33px var(--Red) inset,
    2px 4px 4px rgba(0, 0, 0, 0.25);
}

.karma{
    box-shadow: 0 40px 0 -33px var(--Orange) inset,
    2px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-img{
    float: right;
}


@media screen and (max-width: 1100px){
    main{
        flex-direction: column;
    }

    .title{
        width: 100%;
    }
}
