body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins';
    position: absolute;
    margin: 0;
    background-color: #FAFAFA;
   
  }
  header{
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
  }
  h1{
      margin-top: 0;
      margin-bottom: 10px;
      color: #4C4F61;
  }
  .span-header{
      margin-top: 10px;
      margin-bottom: 0;
      font-size: 1.9em;
      color: #9D9CA2;
  }
  .p-header{
      margin-top: 0%;
      width: 40%;
      text-align: center;
      color: #BAB9BE;
  }
  main{
    margin-top: 15px;
    

  }
  section{
      background-color: #ffffff;
      width: 23%;
    height: 180px;
      border-radius: 3px 3px 5px 5px;
      box-shadow: 10px 27px 20px -11px #DDDDF8;
  }
 
  .teamBuilder{
    border-top: 5px solid #EA5453;
    
      margin:  auto;
  }
  .supervisor{
    border-top: 5px solid #45D3D3;
      position: relative;
      left: 12%;
      top: -80px;

  }
  .calculator{
    border-top: 5px solid #549EF2; 
    float: right; 
    position: relative;
    right: 12%;
      top: -265px;
  }
  .karma{
    border-top: 5px solid #FCAF4A;
    margin:  auto;
   position: relative;
   top: -150px;
  }
  h4{
      margin-left: 5%;
      margin-bottom: 0;
  }
  .p-cards{
      margin-top: 10px;
    margin-left: 5%;
    font-size: 0.8em;
    color: #AFAEB3;
  }
  img{
      float: right;
      margin-right: 20px;
      width: 18%;
      margin-top: 10px;
  }
  @media screen and (max-width: 600px){
      
      h1{
          font-size: 1.5em;
      }
      .span-header{
        margin-top: 70px;
          font-size: 1.4em;
      }
      .p-header{
          width: 90%;
      }
      .mitad{
          display: block;
          order: 2;
      }
      main{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-top: 30px;
         

      }
   
    
    .teamBuilder{
        order: 2;
        margin: 0%;
    }
    .supervisor{
        
        order: 1;
       top: 0;
       left: 0;
    }
    .calculator{
        order: 4;
        top: 0;
        right: 0%;
        float: none;
    }
   
    .karma{
        order: 3;
     top: 0px;
     order: 3;
    }
    section{
      
        width: 80%;
      height: 180px;
       
    }
    .margin{
        margin: 20px;
    }
}