@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');





html {
    height: 100%;
}

body {
    background-color: #FF7978;
    background-image: url(../images/bg-intro-desktop.png);
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: white;
    animation: slide 7s infinite linear alternate;
}




@keyframes slide{
    0%{
        background-position: bottom ;
    }100%{
        background-position: top;
    }
}


main {
    display: flex;
    height: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    
}

.text h1 {
    font-size: 40px;
    width: 72%;
}

.text p {
    
    width: 507px;
    height: 82px;
    color: white;
    font-weight: 400;

}


.form-section {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
}

.form-section>.promotion {
    border: 2px solid #864E7F;
    background: #5D54A3;
    color: white;
    height: 64px;
    width: 548px;
    box-shadow: 0px 8px 2px rgb(62 60 73 / 25%);
    border-radius: 10px;
    text-align: center;
    margin-bottom: 3%;
}

.form-section>form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 548px;
    background: #FFFFFF;
    box-shadow: 0px 8px 2px rgb(0 0 0 / 25%);
    border-radius: 10px;
}

.form-section>form>.controls {
    margin: 41px 58px 34px 40px;
}

form>div.controls>div>input {
    width: 422px;
    height: 56px;
    border: 1px solid #DEDEDE;
    padding-left: 32px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 7px;
    color: #434247;
    caret-color: #605692;
}

form>div.controls>div {
    margin-bottom: 20px;
}

form>div.controls>div>p {
    font-weight: 500;
    font-size: 12px;
    color: #D98A8F;
    margin: 3px 0 0 0;
}

form>div.controls>div.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

form>div.controls>input:focus {
    border: 1px solid #605B79;
}

form>div.controls>input::placeholder {
    letter-spacing: 0.015em;
}

form>div.controls>div.footer-form>div {
    width: 422px;
    height: 56px;
    background: #37CC8A;
    box-shadow: 0px 5px 4px rgb(0 0 0 / 25%);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    margin-left: 22px;
}

form>div.controls>div.footer-form>div:hover {
    transform: scale(1.02);
}

form>div.controls>div.footer-form>p {
    color: #CECCD9;
    font-size: 11px;
    margin-left: 46px;
    font-weight: normal;
}


form>div.controls>div.footer-form>p>strong {
    color: #EB9D9D;
    font-weight: 600;
}

.d-none {
    display: none;
}

form>div.controls>div>input.error-border {
    border: 2px solid #D18D8C;
}

form>div.controls>div>input.success-border {
    border: 2px solid #04eb84;
}

@media screen and (max-width:700px) {
    main{
        flex-direction: column;
    }

    .text,.form-section{
        width: 100%;
    }

    h1,p{
        text-align: center;
    }
}