
  *{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
  body{
      width: 1440px;
      height:100vh;
  }
  #navbar{
    width: 400px;
    height: max-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid #FE4C1E;
    position: relative;
    position: fixed;
    top: 0;
    background-color: white;
  }#navbar header img{
    position: relative;
    top: -20px;
  }
  #navbar > ul{
    position: relative;
    top: -25px;
    height: 495px;
    width: 400px;
    list-style: none;
  }
a{
    text-decoration: none;
}
li{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    color:  #FE4C1E;
    width: 99.8%;
    height: 65px;
    border: 2px solid #FE4C1E;
  }
  header{
      text-align: center;
      margin-top: 20px;
      font-size: 35px;
      color:  #FE4C1E;
  }
  p{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  section{
    margin-left: 500px;
  }
  code{
    position: relative;
    border: 2px solid blue;
    padding: 10px;
    font-size: 15px;
    margin-top: 30px;
  }
  @media only screen and (max-width: 734px) {
    *{
        font-size: 20px;
    }
    header{
      font-size: 20px !important;
    }
    section{
        width: 400px;
    }