*{
    margin:0;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#header{
    box-sizing: border-box;
    position: fixed;
    margin: 0 0 20px 0;
    width: 100%;
    height: auto;
    display: flex;
    padding: 0 20px;
    background-color: #577A15;
    align-items: center;
    z-index: 99999;
}

#header-img{
    width: 60%;
    height: auto;;
}

#nav-bar{
        display: flex;
        flex: end;
        
        width: 35%;
        height: auto;
}

.nav-link{
        margin: 10px;
        font-weight: 400px;
        font-size: 25px;
        color: #B0FA2B;
}

main{}


#primera{
        position: relative;
        top: 150px;
        display: flex;
        justify-content: space-between;
        background-color: rgba(159, 224, 38, 0.05);
        height: auto;
        margin: 0 0 50px  0;
}

.subtitulo{
    position: absolute;
    left: 330px;
    height: auto;
    color: #445523;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    z-index: 99;
}

#parrafoTexto{
        position: relative;
        top: 90px;
        margin: 10px 100px;
        width: 70%;
        height: auto;
        color: #445523;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        z-index: 90;
}

#divLogo{
    display: flex;
    justify-content: space-around;
    margin: 0 100px 0 0;
    width: 200%;
    height: auto;
}

#logo{
    width: 100%;
    height: auto;
}

.imagenFondoTexto{
    position: absolute;
    width: 25%;
    height: auto;
    left: 200px;
    top: 70px;
    z-index: 9;
}

#segunda{
    position: relative;
    top: 200px;
    background-color: #94ED8F;
    display: flex;
    justify-content: space-around;
    box-sizing: content-box;
    padding: 30px;
}

#divLogo{
    display: flex;
    justify-content: center;
    padding: 20px;
}

#video{
        position: relative;
        width: 100%;
        height: 100%;
        border: black 1px solid;
}

#left{
    border: solid 1px rgb(0, 4, 255);
    width: 40%;

}

#right{
    width: 30%;
    background: #D4EDA8;
    border: 4px solid #2A3B0A;
    box-shadow: 8px 8px 10px #BAEE58;
    border-radius: 20px;
    width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
}

#formulario{
    margin: auto;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    width: 80%;
    height: auto;
}


h2,h4{  
    color:  #445523;
}

.inputs{
    box-sizing: content-box;
    padding: 5px 10px;
    width: 90%;
    background: rgba(48, 142, 128, 0.13);
    border: 1px solid #577A15;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 5px;
}

#tercera{
        margin: 60px 0;
        position: relative;
        top: 200px;
        display: flex;
        justify-content: space-around;
        text-align: center;
}

#submit{
    background: #308E80;
    border: 2px solid #B0FA2B;
    box-sizing: border-box;
    border-radius: 10px;
    box-sizing: content-box;
    padding: 5px 30px;
    font-weight: 800;
    color:  #B0FA2B;
    margin: 20px;

}

.imgProducto{
    width: 234px;
    height: 161px;
}

span{
    font-size: 36px;
    line-height: 42px;
    color: #577A15;
}

footer{
    position: relative;
    top: 250px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: flex;
    padding: 0 20px;
    background-color: #577A15;
    align-items: center;
}
.logoFotter{
        width: 10%;
        height: auto;
}

@media(max-width: 800px){



#primera{
    flex-direction: column;
}

.imagenFondoTexto{
        width: 50%;
        top: 100px;
        align-self: center;
}

#left

#video{
    width: 40%;
    
}

#logo{
        width: 50%;
        height: auto;
}

#divLogo{
        width: 90%;
        margin: 70px 0 0 0;

}

#segunda{
    flex-direction: column;
    height: auto;
    align-items: center;
    box-sizing: content-box;
    }

#tercera{
    flex-direction: column;
}


}




