*{
    margin: 0;
    padding: 5;
}

body{
    display: flex;
    font-family: 'Lato', sans-serif;
}

#navbar ul {
    position: relative;
    top: 220px;
    left: -42px;
}

  #navbar li {
    list-style: none;
}
   
  #navbar a {
    display: block;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }

 
.nav-link{
    padding: 21px 30px;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    width: 100%;
    height: auto;
    border: 5px solid #DB8C8C;
    box-sizing: content-box;
}

#navbar{
        position: fixed;
        width: 30%;
        height: 100%;
        display: flex;
        border: 4px solid #DB8C8C;
        background-color: #8C2848;
        box-sizing: border-box;
}

#header{
    position: absolute;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    width: 100%;
    left: auto;
    height: auto;
}

#header-img{
    position: absolute;
    width: 150px;
    height: auto;
    top: 60px;
    left: 30%;
}

#main-doc{
    position: absolute;
    left: 450px;
    width: 65%;
    height: auto;
    border: black 1px solid;
    color: #8C2848;
    background-color: white;
}

.marcoTitulo{
    width: 100%px;
    height: 95px;
    background: #8C2848;
    
}

header{
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    width: 100%px;
    height: 95px;
    background: #8C2848;
}

article{
    box-sizing: content-box;
    padding: 30px;
    text-align: justify;
}

p{
    box-sizing: content-box;
    padding: 10px;
}

.main-section li{
        margin-left: 50px;
}

.img-componentes{
    width: 50%;
    min-width: 30%;
    height: auto;
    margin-left: 25%;
}

.code{
    width: 88%;
    height: auto;
    padding: 10px;
    box-sizing: content-box;
    margin-left: 50px;
}


@media(max-width: 600px){
        body{
            flex-direction: column;
        }

}





