body{
    font-family: Quicksand;
    color: #474F54;
    width: auto;
    padding: 30px;
}

#title{
    width: auto;
    height: auto;
    font-weight: bold;
    font-size: 53px;
    line-height: 45px;
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

header{
    width: 100%;
    height: auto;
    padding: 30px;
}

.cabecera{
        display: flex;
        justify-content: center;
        justify-items: center;
}

#img-div{
    width: 100%;
    
    
    }

#image{
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
        
}

#tribute-info{
    position: relative;
    right: 80px;
    width: 75%;
    height: 60%;
    float: right;
    font-size: 28px;
    text-align: justify;
    padding: 40px;
}

.integrantes{   
    position: relative;
    display: flex;
    justify-content: space-around;
    width: auto;
    height: 216px;
    text-align: center;
    font-weight: bolder;
    min-width: 500px;
}

#fotos{
    padding: 26px;
    justify-items: center;
    width: 20%;
    height: auto;
    left: 524px;
    background: #F3F3F3;
    box-sizing: border-box;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}

#integrantes{
    width: 90%;
    height: 90%;
}

#img-caption{
    font-size: 14px;
}

.texto{
    width: 80%;
    height: auto;
    padding: 20px;
    font-size: 18px;
    line-height: 20px;
}

#main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding: 40px 0px;
    box-sizing: border-box;
}

.parrafo{
    width: 100%;
    height: auto;
    text-align: justify;
    box-sizing: border-box;
}


.subtitulo{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content:  center;
}

.trabajos{
    font-size: 20px;
    text-align: center;
    list-style: none;
    line-height : 35px;
}

footer{
    position: relative;
    left: 20px;
}

#tribute-link{
    font-size: 20px;
    font-weight: bold ;
}


                                      
@media(max-width: 375px){

    .titulo{
        font-size: 24px;
    }

    .cabecera{
        display: table-row;
        justify-content: column;
        justify-items: center;
        width: 100%;
        height: auto;
    }
    

    .left{
        display: flex;
        justify-content: column;
        width: 80%;
        height: 80%;
    }
    
    .imgCabecera{
            width: auto;
            height: 100%;
    }
    .pCabecera{
        font-size: 14px;
        width: 80%;
        width: auto;
        padding: 10px;
    }

    .integrantes{   
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: auto auto;
        grid-gap: 10px;
        font-size: 12px;
        width: 200px;
    }

    .imagen{
        width: 50%;
        height: auto;
    }
    main{
        width: 100%;
        height: auto;
        display: table-row;
        justify-content: column;
        padding: 40px 0px;
        box-sizing: border-box;
    }

        .texto{
            width: 100%;
            height: auto;
            padding: 10px;
            font-size: 14px;
            line-height: 20px;
        }

        .discografia{
            width: 90%;
            height: 100%;
            float: right;
        }

        ul{
            font-size: 14px;
        }

        footer{
            position: relative;
            left: 20px;
            top: 20px;
        }

}










