body{
    height: 100%;
    width: 100%;
    background-color: hsl(210, 46%, 95%);
    margin: auto;
    position: absolute;
}
.contenedorPrincipal{
    position: relative;
    margin: auto;
    background-color:#FFFFFF;
    width: 730px;
    height: 280px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    display: flex;
    margin-top: 13%;
}

 .Drawers{
    height: 280px;
    width: 286px;
    border-radius: 10px 0px 0px 10px;
    content:url("images/drawers1.jpg");
}
.titulo{
    font-size: 21px;
    color:#48556A ;
    font-family: Manrope;
    margin: 40px;
    margin-bottom: 0px;
}
.informacion{
    font-size:13px ;
    font-family: Manrope;
    margin: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #9DAEC2;
}
.infoAvatar{
    display: flex;
}
.fotoAvatar{
    border-radius: 25px;
    height: 40px;
    margin: 0px 16px 40px 40px;
}

.nombreAvatar{
    margin: 0px;
    font-family: Manrope;
    font-size: 13px;
    color:#48556A ;
}
.fecha{
    margin: 0px;
    margin-top: 5px;
    font-family: Manrope;
    font-size: 13px;
    color:#9DAEC2 ;
}
.contenedorIconShare{
    width: 32px;
    height: 32px;
    margin-left: 160px;
    margin-top: 5px;
    background-color: hsl(210, 46%, 95%);
    align-items: center;
    border-radius: 20px;
    fill: #6E8098;
    cursor: pointer;
}
.iconShare{
    margin:9px;
}
.contenedorIconShare:hover{
background-color:#6C7F97;
fill: white;
}
.mensaje{
position: absolute;
width: 230px;
height: 55px;
left: 76%;
top: 51%;
background: #48556A;
box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);
border-radius: 10px;
display: none;


}
.mensaje:before {
    content: "";
    position: absolute;
    left: 43%;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #48556A;
  }
  .shareM{
    font-family: Manrope;
    font-size: 14px;
    color: #9DAEC2;
    margin-left: 30px;
    margin-top: 18px;
  }
  .facebook{
      margin-left: 24px;
      margin-top: 17px;
  }
  .twitter{
    margin-left: 15px;
    margin-top: 18px;
   }
  .pinterest{
    margin-left: 15px;
    margin-top: 17px;
   }

@media screen and (max-width:600px){
    .contenedorPrincipal{
        width: 327px;
        height: 513px;
        margin-top: 33%;
        display: block;
    }
    
     .Drawers{
        width: 327px;
        height: 210px;
        border-radius: 10px 10px 0px 0px;
        content:url("images/drawers.jpg");
    }
    .titulo{
        font-size: 16px;
        margin: 33px;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .informacion{
        font-size:13px ;
        margin: 33px;
        margin-top: 20px;
        margin-bottom: 36px;
    }
    .fotoAvatar{
        height: 40px;
        margin: 0px 16px 40px 33px;
    }
    .contenedorIconShare{
        margin-left: 60px;
        margin-top: 12px;
        z-index:3;
    }
    .mensaje{
    width: 327px;
    height: 69px;
    left: 0;
    top: 86%;
    border-radius: 0px 0px 10px 10px;
    }
    .mensaje:before {
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;
        border-top: 0px solid #48556A;
      }
      .shareM{
        margin-left: 33px;
        margin-top: 22px;
      }
      .facebook{
          margin-left: 24px;
          margin-top: 22px;
      }
      .twitter{
        margin-left: 15px;
        margin-top: 23px;
       }
      .pinterest{
        margin-left: 15px;
        margin-top: 22px;
       }
}


