:root{
--DesaturatedRed: hsl(0, 36%, 70%);
--SoftRed: hsl(0, 93%, 68%);
--DarkGrayishRed: hsl(0, 6%, 24%);
}
body{
    margin:0;
    font-family: Josefin Sans;
}
.photos{
    position: absolute;
    display:flex;
    justify-content: space-between;
    max-width: 100%;
    height: auto;
    background:linear-gradient(125.04deg, #FFFFFF 17.72%, rgba(255, 255, 255, 0) 70.61%), linear-gradient(238.27deg, rgba(255, 255, 255, 0) 92.72%, #FFFFFF 95.85%), #FFF4F4;
    z-index: -1;
}
.logo{
    margin:12% 15%;
}
.heroImage{
    width: 70%;
    height: 800px;
}
.hero{
    width: 100%;
    height: 100%;
 }
.heroMobile{
    display: none;
}
.content{
    color: var(--DesaturatedRed);
    display: flex;
    justify-content: space-around;
}
.tittle{
    margin-left: 15%;
    font-size: 4vmax;
    margin-top: 10%;
    font-weight: 300;
    margin-bottom: 0;
}
.subtittle{
    font-weight: 600;
    margin-top: 0%;
    color:var(--DarkGrayishRed);
}
.desc{
    margin:5% 15%;
    line-height: 26px;
    font-size: 1.2vw;
    width: 60%;
}
.form{
    margin-left: 15%;
    display: flex;
    width:60%;
}
input{
    padding: 4%;
    border-radius: 28px;
}
#inputText{
    width: 100%;
    border: 1px solid var(--DesaturatedRed) ;
    background: none;
    color: var(--DarkGrayishRed);
    outline: none;
}
#inputText::placeholder{
    color:var(--DesaturatedRed);
}
.submit{
    position: absolute;
    left: 35%;
    padding:1.4% 1%;
    width: 8%;
    border:none;
    cursor: pointer;
    background: linear-gradient(270.18deg, rgba(237, 139, 139, 0.5) 62.75%, rgba(255, 255, 255, 0) 161.64%), #F7BEBE;
    box-shadow: 0px 5px 20px rgba(218, 176, 176, 0.62);
    background-image: url("images/icon-arrow.svg");
    background-repeat: no-repeat;
    background-position:center;
    outline: none;
}
.error{
    background: linear-gradient(270.18deg, rgba(237, 139, 139, 0.35) 62.75%, rgba(255, 255, 255, 0) 161.64%), #ffd2d2;
    background-image: url("images/icon-arrow.svg");
    background-repeat: no-repeat;
    background-position:center;
}
#validar{
    margin:1% 17%;
}
#icon-error{
    position: absolute;
    left: 30%;
    margin: 14px;
    display: none;
}
@media screen and (max-width:600px){
    body{
        background:linear-gradient(192.29deg, #FFFFFF 1.44%, rgba(255, 255, 255, 0) 71.62%), #FFF4F4;;
    }
    .photos svg{
        display: none;
    }
    .heroImage{
        display: none;
    }
    .heroMobile{
        display: block;
        margin: auto;
    }
    .content{
        display: block;
       position: static;
    }
    .logo{
        margin: 32px;
    }
    header{
        margin-top: 60px;
        text-align: center;
    }
    .tittle{
        margin: 0;
    }
    .desc{
        text-align: center;
        font-size: 14px;
        width: 80%;
        margin: 30px auto;
    }
    .tittle{
        font-size: 37px;
    }
    .form{
        width: 80%;
        margin: auto;
    }
    input{
        padding: 5%;
    }
    .submit{
        left: 73%;
        padding:4.3% 4%;
        width: 17%;
    }
    #icon-error{
        left: 60%;
    }
    #validar{
        margin:1% 15%;
    }
}

    