*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

header{
    position: relative;
    top: 30px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    position: relative;
    left: 100px;
}

nav{
    position: relative;
    width: 30%;
    float: right;
    display: flex;
    justify-content: right;
    align-items: center;
}


#section1, #section2{
    position: relative;
    top: 50px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}

#left{
position: relative;
width: 50%;
height: auto;
}

#right{
position: relative;
width: 40%;
height: 30%;
}

.imagen{
width: 100%;
height: auto;
}

input{
    position: relative;
    width: 250px;
    height: 45px;
    padding: 0 2%;
    box-sizing: content-box;
    border-radius: 5px;
    margin: 5% 0 2% 15%;
}

#suscription{
height: auto;
}

button{
background: #2F65F9;
border: #3764EA solid 2px;
border-style: inherit;
width: 200px;
height: 45px;
font-weight: 600;
border-radius: 5px;
position: relative;
}

.topSection2{
    position: relative;
    top: 55px;
    width: 100%;
    height: auto;
}

#section2{
    position: relative;
    background: #F9F8FE;
    margin: 0 0 40px 0;
    align-items: center;
}

#section3{
    display: flex;
    background-color: #575989;
    color: #fff;
    padding: 5% 0;
}

a.enlace1{
    color: green;
    margin-left: 15%;
}

.testimonial{
    margin: 4% 0;
    position: relative;
    width: 70%;
    background: #fff;
    left: 100px;
    border-radius: 20px;
    padding: 20px 40px;
    box-sizing: content-box;
    box-shadow: 11px 11px 15px -3px rgba(91,91,91,0.7);;
}

p.ptestimonial{
    position: relative;
    margin: 20px;
}

.imagenTestimonial{
    border-radius: 50%;
    width: 80px;
}

.colaborator{
    display: flex;
    align-items: center;
}

.datos{
    border: 1px solid black;
    margin-left: 5%;
    
    
}

button.butondw{
    margin-left: 15%;
}


footer{
    background: #07043B;
    color: #fff;
    padding: 5%;
}












/*  FONT  */

h1{
    width: 100%;
    height: auto;
    margin: 20px 0;
    font-weight: bold;
    font-size: 42px;
    margin-left: 100px;
}

p{
    
    width: 90%;
    height: auto;
    margin: 0 0 2% 100px;
    font-size: 20px;
    font-weight: 600;
    text-align: justify;

}

.navclass{
    text-decoration:none;
    margin: 0 5%;
}

h4, h6{
    font-weight: 700;
    margin: 5px;
}