@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');

body {
    background: url('../images/bg-intro-desktop.png') no-repeat #FF7978;
    margin: 0;
    height: 800px;
    width: 1440px;
    overflow: hidden;
    background-size: cover;
    font-family: Poppins, sans-serif;
}

.container {
    display: flex;
    margin: 80px auto auto auto;
    width: 1112px;
    height: 558px;
    justify-content: space-between;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.information>h1 {
    margin: 164px 0 0 2px;
    font-weight: 600;
    font-size: 50px;
    width: 419px;
    height: 115px;
    line-height: 55px;
    color: white;
}

.information>p {
    width: 507px;
    height: 82px;
    color: white;
    font-weight: 400;
}

.form-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-section>.promotion {
    border: 2px solid #864E7F;
    display: flex;
    justify-content: center;
    background: #5D54A3;
    border-radius: 10px;
    color: white;
    width: 540px;
    height: 60px;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.12);
}

.form-section>form {
    margin: 24px 0 0 0;
    width: 540px;
    height: auto;
    border-radius: 11px;
    background: #FFFFFF;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}

.form-section>form>.controls {
    margin: 40px 40px 27px 40px;
}

form>div.controls>div>input {
    width: 422px;
    height: 56px;
    border: 1px solid #DEDEDE;
    padding-left: 32px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 7px;
    color: #434247;
    caret-color: #605692;
}

form>div.controls>div {
    margin-bottom: 20px;
}

form>div.controls>div>p {
    font-weight: 500;
    font-size: 12px;
    color: #D98A8F;
    margin: 3px 0 0 0;
}

form>div.controls>div.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

form>div.controls>input:focus {
    border: 1px solid #605B79;
}

form>div.controls>input::placeholder {
    letter-spacing: 0.015em;
}

form>div.controls>div.footer-form>div {
    width: 457px;
    height: 56px;
    background: #37CC8A;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

form>div.controls>div.footer-form>div:hover {
    transform: scale(1.02);
}

form>div.controls>div.footer-form>p {
    color: #CECCD9;
    font-size: 11px;
    margin-left: 46px;
    font-weight: normal;
}


form>div.controls>div.footer-form>p>strong {
    color: #EB9D9D;
    font-weight: 600;
}

.d-none {
    display: none;
}

form>div.controls>div>input.error-border {
    border: 2px solid #D18D8C;
}

form>div.controls>div>input.success-border {
    border: 2px solid #04eb84;
}

@media(min-width: 1365px) {
    body {
        height: 660px;
        overflow-y: visible;
    }
}

@media(max-width: 375px) {
    body {
        height: 1000px;
        width: 375px;
    }

    .container {
        width: 333px;
        height: 844px;
        flex-direction: column;
        margin-left: 25px;
    }

    .information>h1 {
        margin: 10px 0 0 0;
        font-weight: 600;
        font-size: 28px;
        width: 239px;
        height: 80px;
        line-height: 40px;
        color: white;
    }

    .information {
        justify-content: center;
        align-items: center;
    }

    .information>p {
        width: 323px;
        height: 127px;
        text-align: center;
        line-height: 24px;
    }

    .form-section>.promotion {
        width: 327px;
        height: 88px;
        align-items: center;
        text-align: center;
    }

    .form-section>form {
        width: 327px;
    }

    .form-section>form>.controls {
        margin: 24px 22px 27px 26px;
    }
    
    form>div.controls>div>input {
        width: 255px;
        padding-left: 19px;
    }

    form>div.controls>div {
        margin-bottom: 16px;
    }

    form>div.controls>div.footer-form>div {
        width: 279px;
        height: 56px;
    }

    form>div.controls>div.footer-form>p {
        color: #CECCD9;
        font-size: 11px;
        margin-left: unset;
        text-align: center;
    }
}