@font-face {
  font-family: "Calibre";
  src: url("Calibre-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  src: url("Calibre-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  src: url("Calibre-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
    font-family: "SF Mono";
  src: url("SFMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}